body {
    background-color:fuchsia ;
}

form {
    background-color: blue;
    color: whitesmoke;
}
table {
    background-color: rebeccapurple;
    color: whitesmoke;
    margin: auto;
    width: 100%;
}

header {
    font-size: larger;
    color: whitesmoke;
}

tr {
    color: whitesmoke;
}

img {
    border-color:blueviolet;
     ;
}

.inactive{
    color: black;
    background-color: white;
}

likeButtonClass.active{
    background-color: green;
}
likeButtonClass.active{
    background-color: red;
}