table {
    background-color: rebeccapurple;
    color: whitesmoke;
}

header {
    font-size: larger;
    color: whitesmoke;
}

tr {
    color: whitesmoke;
}

button {
    color:green;
    color: red;
}